[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
types = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
